@using Newtonsoft.Json.Linq;
@using Microsoft.AspNetCore.Components.Web;
<div id="@Id" @attributes="AdditionalAttributes" position="right" class="@Class" style="@Style.ToInlineCSS()">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

    /// <summary>
    /// Unique HTML Identifier.
    /// </summary>
    [Parameter]
    public string Id { get; set; }

    /// <summary>
    /// Custom Class to Append at the end of default Foundation Class.
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// HTML Style Attribute (JObject).
    /// <br/><br/><see href="https://flawlessloop.com/how-to-use-style-attribute/">How to Use Style</see>
    /// </summary>
    [Parameter]
    public JObject Style { get; set; }

    protected override async Task OnInitializedAsync()
    {


    }
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        if (Class != null)
        {
            Class = "bf-menu-system-panel bf-menu-system-panel-right " + Class;
        }
        else
        {
            Class = "bf-menu-system-panel bf-menu-system-panel-right";
        }
    }
}

