
<div class="@Class" data-off-canvas-content id="@Id">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Custom Class to Append at the end of default Foundation Class (eg. "accordion custom").
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// Unique HTML Identifier.
    /// </summary>
    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Class != null)
        {
            Class = "off-canvas-content " + Class;
        }
        else
        {
            Class = "off-canvas-content";
        }

    }
}

