@using Newtonsoft.Json.Linq;

<li class="@Class" style="@Style.ToInlineCSS()">
    <a href="#@Id" aria-selected="@Active.ToString().ToLower()">@ChildContent</a>
</li>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Unique HTML Identifier.
    /// </summary>
    [Parameter]
    public string Id { get; set; }

    /// <summary>
    /// Custom Class to Append at the end of default Foundation Class.
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// HTML Style Attribute (JObject).
    /// <br/><br/><see href="https://flawlessloop.com/how-to-use-style-attribute/">How to Use Style</see>
    /// </summary>
    [Parameter]
    public JObject Style { get; set; }

    /// <summary>
    /// True: Default Active Tab
    /// </summary>
    [Parameter]
    public bool Active { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (Class != null) { Class = "tabs-title " + Class; }
        else { Class = "tabs-title"; }

        if (Active) { Class += " is-active"; }

    }

}
