@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime;

<div class="@Class" id="@Id" data-sticky style="@Style" data-options="@DataOptions">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }
    
    [Parameter]
    public string DataOptions { get; set; }

    [Parameter]
    public bool Sticky { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string forcedClass = "title-bar";      

        if (Class != null)
        {
            Class = $"{forcedClass} " + Class;
        }
        else
        {
            Class = forcedClass;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

    }
}
