<div class="@Class">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public bool Fluid { get; set; }

    [Parameter]
    public bool Full { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Class != null)
        {
            Class = "grid-container " + Class;
        }
        else
        {
            Class = "grid-container";
        }

        if (Fluid) { Class += " fluid"; }

        if (Full) { Class += " full"; }

    }
}
