@using Newtonsoft.Json.Linq;
@using Microsoft.AspNetCore.Components.Web;
<div class="@Class" id="@Id" style="@Style.ToInlineCSS()">
    @ChildContent
</div>



@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Custom Class to Append at the end of default Foundation Class (eg. "menu custom").
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// Unique HTML Identifier.
    /// </summary>
    [Parameter]
    public string Id { get; set; }

    /// <summary>
    /// HTML Style Attribute (JObject).
    /// <br/><br/><see href="https://flawlessloop.com/how-to-use-style-attribute/">How to Use Style</see>
    /// </summary>
    [Parameter]
    public JObject Style { get; set; }

    /// <summary>
    /// Must be True if Wrapper's sticky is true. (Default: False)
    /// </summary>
    [Parameter]
    public bool StickyWrapper { get; set; }






    protected override async Task OnInitializedAsync()
    {
        string forcedClass = "top-bar-right";
        if (StickyWrapper)
        {
            forcedClass = "title-bar-right";
        }

        if (Class != null)
        {
            Class = $"{forcedClass} " + Class;
        }
        else
        {
            Class = forcedClass;
        }


    }
}