@using Newtonsoft.Json.Linq;
<div class="@Class" id="@Id">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Custom Class to Append at the end of default Foundation Class (eg. "button-group custom").
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// Unique HTML Identifier.
    /// </summary>
    [Parameter]
    public string Id { get; set; }

    /// <summary>
    /// Size of the buttons.
    /// <b>tiny</b>, <b>small</b> or <b>large</b> (Default: null)
    /// <br/><br/><see href="https://get.foundation/sites/docs/button-group.html#sizing">Documentation</see>
    /// </summary>
    [Parameter]
    public string Size { get; set; }

    /// <summary> 
    /// Color of all buttons.
    /// <b>primary</b>, <b>secondary</b>, <b>success</b>, <b>warning</b> or <b>alert</b>. (Default: null)
    /// <br/><br/><see href="https://get.foundation/sites/docs/button-group.html#coloring">Documentation</see>
    /// </summary>
    [Parameter]
    public string Color { get; set; }

    /// <summary> 
    /// True: Removes gaps between buttons (Default: False)
    /// <br/><br/><see href="https://get.foundation/sites/docs/button-group.html#no-gaps">Documentation</see>
    /// </summary>
    [Parameter]
    public bool NoGaps { get; set; }

    /// <summary>
    /// True: Full Width Evenly Distributed. (Default: False)
    /// <br/><br/><see href="https://get.foundation/sites/docs/button-group.html#even-width-group">Documentation</see>
    /// </summary>
    [Parameter]
    public bool FullEvenWidth { get; set; }



    protected override async Task OnInitializedAsync()
    {
        if(Class != null)
        {
            Class = "button-group " + Class;
        }
        else
        {
            Class  = "button-group";
        }

        if (Size != null) { Class += $" {Size.ToLower()}"; }
        if (Color != null) { Class += $" {Color.ToLower()}"; }
        if (NoGaps) { Class += $" no-gaps"; }
        if (FullEvenWidth) { Class += $" expanded"; }
    }
}

