<button type="button" class="@Class" data-toggle="@DataToggle" onclick="@OnClick" id="@Id">
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    
    /// <summary>
    /// Custom Class to Append at the end of default Foundation Class (eg. "button custom").
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// Unique HTML Identifier.
    /// </summary>
    [Parameter]
    public string Id { get; set; }

    /// <summary>
    /// id of Foundation element to toggle can be anything. Modal, Switch, Off-Canvas....
    /// </summary>
    [Parameter]
    public string DataToggle { get; set; }

    /// <summary>
    /// OnClick Event Function (Default: null)
    /// </summary>
    [Parameter]
    public Func<Task> OnClick { get; set; }

  
    protected override async Task OnInitializedAsync()
    {
        if (Class != null) { Class = "button " + Class; }
        else { Class = "button"; }

    }

}
